<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>

    {{ghost_head}}
    <link rel="stylesheet" type="text/css" href="{{asset "theme/css/bootstrap.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "theme/css/fontawesome-all.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "theme/css/style.css"}}">
</head>

<body>

    {{> "menu"}}

    {{{body}}}

    <div class="container-fluid other-content">
        <div class="row">
            <div class="col">
                <div class="lg-text">have a challange<br>for us?</div>
                <div class="normal-text">
                    <p>Contact us and we’ll send you the brief questionnaire to get started.<br>
                        Then we’ll contact you within 24 hours.</p>
                </div>
                <div class="btn-holder">
                    <a href="#" class="cr-btn ex-padding">Let's get started</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid footer">
        <div class="row">
            <div class="col">
                <div class="lg-text">
                    <span>100% satisfication.</span><br>
                    <span>let’s create</span>
                </div>
                <div class="normal-text">
                    <p>We'll elevate your business to the next level<br> 
                    using proven strategies, the latest technologies, and our friendly creatives, <br> 
                   all working harmoniously to produce the best outcomes possible.<br> <br> 
                    
                    <strong>Join us in the journey to empower your ideas and build a future of digital excellence together!</strong></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{asset "theme/js/jquery.min.js"}}"></script>
    <script src="{{asset "theme/js/popper.min.js"}}"></script>
    <script src="{{asset "theme/js/bootstrap.min.js"}}"></script>
    <script src="{{asset "theme/js/anime.min.js"}}"></script>
    <script src="{{asset "theme/js/scrollreveal.min.js"}}"></script>
    <script src="{{asset "theme/js/main.js"}}"></script>
</body>

</html>